[Unit]
Description=Consul agent
Requires=network-online.target
After=network-online.target

[Service]
User=root
Group=consul
EnvironmentFile=-/etc/sysconfig/consul
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/opt/consul/consul agent $OPTIONS -config-dir={{ consul_configuration_directory }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target