{
  "node_name": "{{ inventory_hostname }}",
  "datacenter": "{{ consul_datacenter }}",
  "bootstrap_expect": {{ consul_bootstrap_expect }},
  "advertise_addr": "{{ ansible_eth1['ipv4']['address'] }}",
  "advertise_addr_wan": "{{ ansible_eth0['ipv4']['address'] }}",
  "server": true,
  "ui": true,
  "encrypt": "{{ consul_encrypt }}",
  "data_dir": "{{ consul_data_directory }}",
  "log_level": "{{ consul_log_level }}",
  "enable_syslog": true,
  "retry_join": [{% for host in groups['cluster-master'] %}"{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}"{% if not loop.last %},{% endif %}{% endfor %}],
  "client_addr": "0.0.0.0",
  "bind_addr": "{{ ansible_eth1['ipv4']['address'] }}",
  "ports": {
    "dns": 53
  },
  "recursors" : [ "8.8.8.8" ]
}